.App {
  width: 500px;
  height: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: yellowgreen;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  color: rgb(39, 20, 20);
}
